/* =========================reset */

:root{

    --primary-color: #107beb;
    --secondary-color: #3f3d56;
    --base-color: #cfcfcf;
    --bg-primary:#ffffff;
    --bg-secondary:#e5e5e5;
    font-family: 'Poppins', sans-serif;

}

h2{
    font-size: 2rem;
    font-weight: 700;
}

h3{
    font-size: 1.8rem ;
    font-weight: 400;
}

.text-primary{
    color: var(--primary-color) !important;
}

.text-base{
    color: var(--base-color) !important;
}

/* btn */

.btn-primary{
    background-color: var(--primary-color)
}

/* ================proejtos */